# -*- coding: utf-8 -*-

"""
keys.py
~~~~~~~

This file contains the private keys for tmdbsimple.

See: http://docs.themoviedb.apiary.io
     http://docs.themoviedb.apiary.io/#accounts
     http://docs.themoviedb.apiary.io/#authentication
     https://www.themoviedb.org/documentation/api/sessions
"""

API_KEY = ''
SESSION_ID = ''
USERNAME = ''
PASSWORD = ''
